nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 10px;
}
nav a{
    text-decoration: none;
    background-color: yellow;
    padding: 10px;
}
@media (max-width:600px){
    nav{
        background-color: aqua;
        flex-direction: column; 
    }   
}